* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: gainsboro;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}
/* #root {
  height: 100%;
} */

/* MAIN */
.container {
  /* max-width: 80rem; */
  /* width: 98%; */
  color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem 2rem;
  background: #642b73; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* HEADER */
.header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

/* SEARCH BAR */

.searchbar-container {
  margin-bottom: 1rem;
}

.searchbar-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125em solid rgba(255, 255, 255, 0.4);
  width: 500px;
  margin: 0 auto;
}

.searchbar-container input {
  border: none;
  font-size: 2.5rem;
  color: inherit;
  /* text-align: center; */
  background-color: transparent;
}

.searchbar-container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searchbar-container .magnifier img {
  cursor: pointer;
  width: 1.8rem;
  fill: #eee;
}

/* RSESULT SECTION */
.results-section {
  /* outline: 1px solid red; */
  display: flex;
}

.search-result-list {
  width: 40%;
  /* outline: 1px solid green; */
  padding: 1rem;
  min-height: 300px;
  overflow-y: auto;
}

.search-result-list-item {
  /* outline: 1px solid pink; */
  margin-bottom: 0.5rem;
  max-height: 100px;
  overflow-y: auto;
  padding: 0.6rem 0.35rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.3em;
}

.search-result-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  /* cursor: pointer; */
  text-decoration: none;
  color: inherit;
}

/* SHOW INFO */

.show-info_container {
  width: 60%;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 1rem;
}

.show-info {
  min-height: 200px;
  /* max-height: 400px; */
  overflow-y: auto;
  margin-bottom: 1rem;
}

.show-info_title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.show-info_img {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.show-info_img .show-info_runtime {
  font-size: 2rem;
  font-weight: bold;
}

.show-info_explore {
  margin: auto;
  font-size: 1.5rem;
  font-weight: semibold;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.125rem;
}

.show-info_explore a {
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

/* MEDIA */

@media screen and (max-width: 768px) {
  body {
    background: red;
  }

  .results-section {
    flex-direction: column;
  }

  .show-info_container,
  .search-result-list {
    width: 100%;
  }
}
